services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      N8N_BASIC_AUTH_ACTIVE: "false"
      N8N_SECURE_COOKIE: "false"
      N8N_PROTOCOL: "http"
      WEBHOOK_URL: "https://doughty-isabella-noninvincibly.ngrok-free.dev"
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data: